/*---------------------------------------- BASIC FONT/TEXT COLORS ----------------------------------------*/
.alert {
	height: 50px;
	background-color: white !important;
	color: #141414 !important;
}
.fe-alert-circle {
	color: white !important;
	border-color: #141414;
}
.poly-alert{
	background-color: #141414 !important;
	color: white !important;
	border-color: white !important;
}
.sidebarCollapse{
	background-color: #141414 !important;
	border-right-color: white;
}
.sidebar{
	background-color: #141414 !important;
	color:#141414 !important;
	box-shadow: white 1px 1px 10px !important;
}
head {
	background-color: white;
	border-color:white;
	font-variant: small-caps;
}

.btn-primary{
	background-color: #141414 !important;
	color: white !important;
	box-shadow: white 1px 1px 10px !important;
}
.btn.btn-danger{
	background-color: #720000ad !important;
	color: white !important;
	box-shadow: white 1px 1px 10px !important;
}
.btn.btn-success{
	color: white !important;
	box-shadow: white 1px 1px 10px !important;
}
a {
	font-style: oblique;
	color: white;
	font-variant: small-caps;
	color: white !important;
	background: #141414 !important;
	border-color: white !important;
}

.alert .alert-primary .poly-alert {
	color: white !important;
	background: #141414 !important;
	border-color: white;
}
.alert{
	color: white !important;
	background: #141414 !important;
	border-color: white;
}
td{
border-color: white !important;
}
head {
	color: white;
}
.border-top{
color: white !important;
}

.card-body {
	background-color: #141414 !important;
	animation: fadeIn linear 1200ms;
	-webkit-animation: fadeIn linear 1200ms;
	-moz-animation: fadeIn linear 1200ms;
	-o-animation: fadeIn linear 1200ms;
	-ms-animation: fadeIn linear 1200ms;
}
H1 {
	font-style: oblique;
	font-variant: small-caps;
	font-weight: 900;
}
h3 {
	color:white;
}
h5 {
	font-variant: small-caps;
}
p {
	font-style: oblique;
	font-weight: 900;
	font-stretch: ultra-condensed;
}
.text-muted {
	font-variant: small-caps !important;
}
.poly-chat-toggler {
	border-color: white !important;
	background-color: #141414 !important;
	box-shadow: white !important;
}
.poly-chat-container {
	color: white !important;
	background-color : #141414 !important;
}
body {
	color: white;
	background: #141414;
	background-position: center;
	max-width: 100%;
}
.th {
	background-color: #141414 !important;
	border-color: white !important;
}
.text-reset {
	background-image: url("text-reset")
}

/*---------------------------------------- BASIC FONT/TEXT COLORS ----------------------------------------*/
 head {
	background-color: white;
	border:white;
}
.btn-link{
	font-style: italic;
	color:rgba(44, 142, 253, 0.692) !important;
	font-family: 'Comic Sans MS', Courier, monospace;
	text-decoration-color: white;
}
a {
	font-style: oblique;
	color: white;
	font-weight: 1000;
}
head {
	color: white;
}
i {
	color: white;
}
img {
	color: white;
}
H1 {
	font-style: oblique;
}
p {
	font-style: italic;
	font-family: 'Comic Sans MS', Courier, monospace;
}
.poly-chat-toggler {
	border-color: white !important;
	background-color: #141414 !important;
	box-shadow: white !important;
}
.poly-chat-container {
	color: white !important;
	background-color : #141414 !important;
}
body {
	color: white;
	background: #141414;
	background-position: center;
	max-width: 100%;
}
.th {
	background-color: #141414 !important;
	border-color: white !important;
}
.text-reset {
	background-image: url("text-reset")
}
.dropdown-menu {
	background-color: #141414 !important;
	border-color: white;

}
.custom-select {
	border-color: white !important;
	background-color: #141414 !important;
}
.asset-limited {
	border-color: #141414 !important;
}
.modal-content {
	background-color: #141414 !important;
	border: 1px solid white !important;
}
li {
	color: white;
}
div {
	color: white;
	
}
a {
	color:white;
}
body {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.dropdown-menu {
	background-color: #141414 !important;
	border-color: white;
	box-shadow: white 1px 1px 10px !important;
}
.custom-select {
	border-color: white !important;
	background-color: #141414 !important;
}
.asset-owned {
	border-color:#006effc2 !important;
}
.asset-owned-triangle{
	color:#007206ad;
	background-color: 007206ad;
}
.asset-limited {
	border-color: #141414 !important;
}
.tooltip.show.bs-tooltip-bottom{
	background-color: #141414 !important;
	box-shadow: white 1px 1px 10px !important;
	animation: fadeIn linear 1200ms;
	-webkit-animation: fadeIn linear 1200ms;
	-moz-animation: fadeIn linear 1200ms;
	-o-animation: fadeIn linear 1200ms;
	-ms-animation: fadeIn linear 1200ms;
}
.modal-content {
	background-color: #141414 !important;
	border: 1px solid white !important;
}
body {
	background-color: #141414 !important;
}
.poly-chat-toggler {
	background-color: #141414 !important;
}
.nav-pills .nav-link {
	color: white !important;
}
.poly-chat-container {
	color: white !important;
}
th {
	background-color: #141414 !important;
	border-color: white !important;
}
.input-group-text {
	background-color: #141414;
	border-color: white !important;
}
.btn-white {
	background-color: #141414 !important;
	border-color: white !important;
	box-shadow: white 1px 1px 10px !important;
}
.active .page-link {
	background-color: #141414 !important;
	border-color: white !important;
}
.page-link {
	background-color: #141414 !important;
	border-color: white !important;
}
.custom-select {
	border-color: #141414 !important;
	background-color: white !important;
}
.modal-header {
	background-color: #141414 !important;
	border-bottom-color: white !important;
}
.modal-footer {
	border-color: white;
}
.modal-content {
	background-color: #141414 !important;
	border: 1px solid white !important;
}
.card-header {
	border-color: #ffffff !important;
	max-width: 125%;
	max-height: 125%;
}
.form-control {
	background-color: #141414 !important;
	border-color: white !important;
	color: white !important;
}
.list-group-item, .border-top {
	border-bottom-color:#141414 !important;
}
.form-control-flush {
	border: none !important
}
/*---------------------------------------- NAVBAR COLOR ----------------------------------------*/
 .navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light {
	background-color: #141414 !important;
	background-repeat: repeat-y;
}
.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-dark {
	background: #141414 !important;
	background-repeat: repeat-x !important;
}
.navbar.navbar-expand-md.navbar-light.d-none.d-md-flex {
	background: #141414 !important;
}
body {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
/*---------------------------------------- ANIMATIONS ----------------------------------------*/
.card {
	background-color: #141414 !important;
	box-shadow: white 1px 1px 10px !important;
	animation: fadeIn linear 1200ms;
	-webkit-animation: fadeIn linear 1200ms;
	-moz-animation: fadeIn linear 1200ms;
	-o-animation: fadeIn linear 1200ms;
	-ms-animation: fadeIn linear 1200ms;
}
.rounded-circle{
	animation: fadeIn linear 1200ms;
	-webkit-animation: fadeIn linear 1200ms;
	-moz-animation: fadeIn linear 1200ms;
	-o-animation: fadeIn linear 1200ms;
	-ms-animation: fadeIn linear 1200ms;

}
@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-ms-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.img {
	color: white;
	animation: fadeIn linear 800ms;
	-webkit-animation: fadeIn linear 800ms;
	-moz-animation: fadeIn linear 800ms;
	-o-animation: fadeIn linear 800ms;
	-ms-animation: fadeIn linear 800ms;
}
p {
	animation-duration: 1200ms;
	animation-name: fadeIn;
	font-family: 'Comic Sans MS', Courier, monospace;
}
.h1 .h2 .h3 .h4 {
	color: white;
	animation: fadeIn linear 800ms;
	-webkit-animation: fadeIn linear 800ms;
	-moz-animation: fadeIn linear 800ms;
	-o-animation: fadeIn linear 800ms;
	-ms-animation: fadeIn linear 800ms;
}
img {
	color: white;
	animation: fadeIn linear 1200ms;
	-webkit-animation: fadeIn linear 1200ms;
	-moz-animation: fadeIn linear 1200ms;
	-o-animation: fadeIn linear 1200ms;
	-ms-animation: fadeIn linear 1200ms;
}
.badge .badge-soft-success{
	outline-color: white;
	outline-width: thin;
	outline-style: solid;
	background-color:#141414 !important;
	text-decoration-color: white;
	background-color: transparent;

}
.badge.badge-pill.badge-secondary{
	background-position:top;
	height: 20px;
	width: 20px;
	background-color: #141414;
	border-spacing: 1px;
	box-shadow: white .5px .5px 10px !important;
	animation: fadeIn linear 1200ms;
	-webkit-animation: fadeIn linear 1200ms;
	-moz-animation: fadeIn linear 1200ms;
	-o-animation: fadeIn linear 1200ms;
	-ms-animation: fadeIn linear 1200ms;
}
.badge.badge-pill.badge-danger{
	box-shadow: white 0px 0px 10px !important;
	animation: fadeIn linear 1000ms;
	-webkit-animation: fadeIn linear 1000ms;
	-moz-animation: fadeIn linear 1000ms;
	-o-animation: fadeIn linear 1000ms;
	-ms-animation: fadeIn linear 1000ms;
	background-color: #141414;
}
.fe-star{
	color:orange !important;
}
.badge.badge-pill.badge-success{	
	box-shadow: white 0px 0px 10px !important;
	animation: fadeIn linear 1200ms;
	-webkit-animation: fadeIn linear 1200ms;
	-moz-animation: fadeIn linear 1200ms;
	-o-animation: fadeIn linear 1200ms;
	-ms-animation: fadeIn linear 1200ms;
	background-color: transparent;
}
.btn.btn-secondary{
	background-color:#141414 !important;
	box-shadow: white 1px 1px 10px !important;
}
.comment-body{
	background-color: #141414 !important;
	outline-width: thin;
	outline-style: solid;
}
.btn.collapsed{
	background: transparent;
	color: white !important;
	box-shadow: white 1px 1px 10px !important;
}
.rounded{
	box-shadow: white 1px 1px 10px !important;
}
.rounded-circle{
	box-shadow: white 1px 1px 10px !important;
	box-shadow: white 0px 0px 10px !important;
	animation: fadeIn linear 1200ms;
	-webkit-animation: fadeIn linear 1200ms;
	-moz-animation: fadeIn linear 1200ms;
	-o-animation: fadeIn linear 1200ms;
	-ms-animation: fadeIn linear 1200ms;
	background-color: transparent;
}
.btn.btn-secondary{
	background-color:#141414 !important;
	box-shadow: white 1px 1px 10px !important;
}
.btn.collapsed{
	background: transparent;
	color: white !important;
	box-shadow: white 1px 1px 10px !important;
}
.rounded{
	box-shadow: white 1px 1px 10px !important;
}
.rounded-circle{
	box-shadow: white 1px 1px 10px !important;
}
