div {
	color: white;
}
.username-1A8OIy {
	color: purple !important;
}
.name-23GUGE {
	color: purple;
}
svg {
	color: #68046e !important;
}
.anchor-3Z-8Bb {
	color: purple !important;
}
body {
	background-color: #000000;
}
.form {
	color: purple;
}
markup-2BOw-j {
	background-color: purple !important;
}
